{% extends "common/templates/layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
  Pay for green garden waste - GOV.UK
{% endblock %}

{% set section = 'support' %}

{% block beforeContent %}
  {% include "common/templates/includes/flash.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{
      govukPanel({
        titleText: "Application complete",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      })
    }}

    <h3 class="govuk-heading-m govuk-!-margin-top-4">Words about the thing</h3>
    <p class="govuk-body">So you two dig up, dig up dinosaurs? Do you have any idea how long it takes those cups to decompose. God creates dinosaurs. God destroys dinosaurs. God creates Man. Man destroys God. Man creates Dinosaurs. Jaguar shark! So tell me - does it really exist?</p>
  </div>
</div>
{% endblock %}
