{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/footer/macro.njk" import govukFooter %}

{% extends "govuk/template.njk" %}

{% block pageTitle %}GOV.UK{% endblock %}

{% block head %}
  {% include "common/templates/includes/head.njk" %}
{% endblock %}

{% block bodyEnd %}
  {% include "common/templates/includes/scripts.njk" %}
{% endblock %}
